<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title>Index</title>
</head>
<body>
    <main>
        <div class="img-details-cont">
            <div class="list">
                
                <div class="item active">
                     <div class="i-info">
                        <img src="https://images.unsplash.com/photo-1466032454009-878beeedbb3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="portofolio-1">

                        <div class="desc">
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, quidem laudantium! Aspernatur odio veritatis omnis!</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="i-info">
                        <img src="https://images.unsplash.com/photo-1484186694682-a940e4b1a9f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="portofolio-2">

                        <div class="desc">
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, quidem laudantium! Aspernatur odio veritatis omnis!</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="i-info">
                        <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="portofolio-3">

                        <div class="desc">
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, quidem laudantium! Aspernatur odio veritatis omnis!</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="i-info">
                        <img src="https://images.unsplash.com/photo-1501660034796-9860da6cb741?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODl8fG9iamVjdCUyMHdpdGglMjBiYWNrZ3JvdW5kJTIwY29sb3J8ZW58MHwyfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="portofolio-4">

                        <div class="desc">
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, quidem laudantium! Aspernatur odio veritatis omnis!</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="i-info">
                        <img src="https://images.unsplash.com/photo-1549326483-d8ecdf9611c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG9iamVjdCUyMHdpdGglMjBiYWNrZ3JvdW5kJTIwY29sb3J8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="portofolio-5">

                        <div class="desc">
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, quidem laudantium! Aspernatur odio veritatis omnis!</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="i-info">
                        <img src="https://images.unsplash.com/photo-1486551937199-baf066858de7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=846&q=80" alt="portofolio-6">

                        <div class="desc">
                            <hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, quidem laudantium! Aspernatur odio veritatis omnis!</p>
                        </div>
                    </div>
                </div>

                <button class="left" id="left"><span><i class="fas fa-chevron-left"></i></span></button>
                <button class="right" id="right"><span><i class="fas fa-chevron-right"></i></span></button>
                <button class="close" id="close"><span><i class="far fa-times-circle"></i></span></button>
            </div>
        </div>

        <div class="copyright">
            <small>© 2021</small>
        </div>

        <div class="container">

            <div class="menu-top">
                <button class="pfl-btn active"><span><i class="far fa-user"></i></span></button>
                <button class="rsm-btn"><span><i class="far fa-list-alt"></i></span></button>
                <button class="prfl-btn"><span><i class="fas fa-suitcase"></i></span></button>
                <button class="ctc-btn"><span><i class="far fa-envelope"></i></span></button>
            </div>

            <div class="card-container">
                <div class="me">
                    <div class="img-cont">
                        <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80" alt="photo_profile">
                    </div>
    
                    <div class="title">
                        <h1>Alex <span>Fabri</span></h1>
                        <h4>Web Developer</h4>
                    </div>
                </div>
    
                <div class="content show">
                    <section class="profile active">
                        <div class="title-sec">
                            <h2>Profile</h2>
                            <div class="social-media">
                                <a href="https://facebook.com"><span><i class="fab fa-facebook"></i></span></a>
                                <a href="https://instagram.com"><span><i class="fab fa-instagram"></i></span></a>
                                <a href="https://linkedin.com"><span><i class="fab fa-linkedin"></i></span></a>
                            </div>
                        </div>

                        <div class="intro">
                            <h2>I'am Alex, a Freelance Web Developer</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, possimus vitae alias eaque, veniam voluptatibus recusandae beatae temporibus amet, neque enim repudiandae sequi. Error maxime eaque omnis eius rerum, earum nesciunt dignissimos cumque delectus fuga animi temporibus corporis? Atque, quae!</p>
                            <hr>
                        </div>
    
                        <div class="hub">
                            <div>
                                <p>Name</p>
                                <p>Alex Fabri</p>
                            </div>
    
                            <div>
                                <p>Birthday</p>
                                <p>01-01-1995</p>
                            </div>

                            <div>
                                <p>Website</p>
                                <p>alex.com</p>
                            </div>
    
                            <div>
                                <p>Phone</p>
                                <p>+1 4703308481</p>
                            </div>
    
                            <div>
                                <p>Email</p>
                                <p>alex@gmail.com</p>
                            </div>
    
                            <div>
                                <p>Address</p>
                                <p>711-2880 Nulla St.
                                    Mankato Mississippi 96522</p>
                            </div>
                        </div>
                    </section>
    
                    <section class="resume">
                        <div class="title-sec">
                            <h2>Resume</h2>
                            <div class="social-media">
                                <a href="https://facebook.com"><span><i class="fab fa-facebook"></i></span></a>
                                <a href="https://instagram.com"><span><i class="fab fa-instagram"></i></span></a>
                                <a href="https://linkedin.com"><span><i class="fab fa-linkedin"></i></span></a>
                            </div>
                        </div>

                        <div class="rc">
                            <div class="ec">
                                <h2> <span><i class="fas fa-graduation-cap"></i></span> Education</h2>
                                <div class="list">
                                    <div>
                                        <h3>Computer Science</h3>
                                        <p>
                                            May University, 2004 - 2007
                                        </p>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, explicabo!</p>
                                    </div>
    
                                    <hr>
    
                                    <div>
                                        <h3>Graphic Design</h3>
                                        <p>
                                            Camp Art School, 2004 - 2007
                                        </p>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, explicabo!</p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="ec">
                                <h2><span><i class="fas fa-award"></i></span> Experience</h2>
                                <div class="list">
                                    <div>
                                        <h3>Programmer</h3>
                                        <p>
                                            Codentry, 2008 - 2013
                                        </p>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, explicabo!</p>
                                    </div>
    
                                    <hr>
    
                                    <div>
                                        <h3>Graphic Designer</h3>
                                        <p>
                                            Creativenture, 2008 - 2013
                                        </p>
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, explicabo!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="skill">
                            <p><span><i class="fas fa-medal"></i></span></p>
                            <div class="list">
                                <div class="item skill-1">
                                    <div class="i-title">
                                        <p>HTML/CSS</p>
                                        <p>90%</p>
                                    </div>
                                    <div class="percent"></div>
                                </div>

                                <div class="item skill-2">
                                    <div class="i-title">
                                        <p>Javascript</p>
                                        <p>80%</p>
                                    </div>
                                    <div class="ps-2 percent"></div>
                                </div>
                            </div>

                            <div class="list">
                                <div class="item skill-3">
                                    <div class="i-title">
                                        <p>Express.js</p>
                                        <p>95%</p>
                                    </div>
                                    <div class="ps-3 percent"></div>
                                </div>

                                <div class="item skill-4">
                                    <div class="i-title">
                                        <p>React JS</p>
                                        <p>85%</p>
                                    </div>
                                    <div class="ps-4 percent"></div>
                                </div>
                            </div>

                            <div class="list">
                                <div class="item skill-5">
                                    <div class="i-title">
                                        <p>Wordpress</p>
                                        <p>80%</p>
                                    </div>
                                    <div class="ps-5 percent"></div>
                                </div>

                                <div class="item skill-6">
                                    <div class="i-title">
                                        <p>Web Design</p>
                                        <p>90%</p>
                                    </div>
                                    <div class="ps-6 percent"></div>
                                </div>
                            </div>
                        </div>
                    </section>
    
                    <section class="portofolio">
                        <div class="title-sec">
                            <h2>Portofolio</h2>
                            <div class="social-media">
                                <a href="https://facebook.com"><span><i class="fab fa-facebook"></i></span></a>
                                <a href="https://instagram.com"><span><i class="fab fa-instagram"></i></span></a>
                                <a href="https://linkedin.com"><span><i class="fab fa-linkedin"></i></span></a>
                            </div>
                        </div>

                        <div class="menu">
                            <button class="all-prtf active">All</button>
                            <button class="design-prtf">Design</button>
                            <button class="web-prtf">Web</button>
                            <button class="photos-prtf">Photos</button>
                        </div>
    
                        <div class="grid-container">
                            <div class="list-prtf web">
                                <div class="img-container">
                                    <img src="https://images.unsplash.com/photo-1466032454009-878beeedbb3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="portofolio-1">
                                </div>
                            </div>
                            <div class="list-prtf photos">
                                <div class="img-container">
                                    <img src="https://images.unsplash.com/photo-1484186694682-a940e4b1a9f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="portofolio-2">
                                </div>
                            </div>
                            <div class="list-prtf design">
                                <div class="img-container">
                                    <img src="https://images.unsplash.com/photo-1557180295-76eee20ae8aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="portofolio-3">
                                </div>
                            </div>
                            <div class="list-prtf photos">
                                <div class="img-container">
                                    <img src="https://images.unsplash.com/photo-1501660034796-9860da6cb741?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODl8fG9iamVjdCUyMHdpdGglMjBiYWNrZ3JvdW5kJTIwY29sb3J8ZW58MHwyfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="portofolio-4">
                                </div>
                            </div>
                            <div class="list-prtf design">
                                <div class="img-container">
                                    <img src="https://images.unsplash.com/photo-1549326483-d8ecdf9611c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG9iamVjdCUyMHdpdGglMjBiYWNrZ3JvdW5kJTIwY29sb3J8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="portofolio-5">
                                </div>
                            </div>
                            <div class="list-prtf design">
                                <div class="img-container">
                                    <img src="https://images.unsplash.com/photo-1486551937199-baf066858de7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=846&q=80" alt="portofolio-6">
                                </div>
                            </div>
                        </div>
                    </section>
    
                    <section class="contact">
                        <div class="title-sec">
                            <h2>contact</h2>
                            <div class="social-media">
                                <a href="https://facebook.com"><span><i class="fab fa-facebook"></i></span></a>
                                <a href="https://instagram.com"><span><i class="fab fa-instagram"></i></span></a>
                                <a href="https://linkedin.com"><span><i class="fab fa-linkedin"></i></span></a>
                            </div>
                        </div>

                        <div class="intro">
                            <h2>Contact Info</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, vero.</p>
    
                            <div class="menu">
                                <div class="list">
                                    <p>Website</p>
                                    <p><a href="#">alex.com</a></p>
                                </div>

                                <div class="list">
                                    <p>Phone</p>
                                    <p>+1 888 678 9000</p>
                                </div>
    
                                <div class="list">
                                    <p>Email</p>
                                    <p><a href="mailto:youremail@gmail.com">alex@gmail.com</a></p>
                                </div>
    
                                <div class="list">
                                    <p>Address</p>
                                    <p>711-2880 Nulla St.
                                        Mankato Mississippi 96522</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="sm">
                            <h2>Message</h2>
                            <p>Let's get in touch!</p>
                            <form action="https://formspree.io/f/xdoypgaw" method="POST" enctype="text/plain" id="my-form">
                                <div class="i-1">
                                    <input type="text" maxlength="30" name="name" placeholder="Name" required>
                                    <input type="email" maxlength="30" name="_replyto" placeholder="Email" required>
                                </div>
    
                                <div class="i-2"> 
                                    <textarea name="message" id="message" cols="30" rows="8" placeholder="Message" required></textarea>
                                </div>
                                <div class="i-3">
                                    <input type="submit" value="Send message">
                                </div>
                                <p id="my-form-status"></p>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>       
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/index.js"></script>
</body>
</html>